* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dice {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    height: 100px;
}

.btn-new { top: 75px;}
.btn-roll { top: 500px;}
.btn-hold { top: 600px;}